@model Dictionary.Web.Viewmodels.TranslationViewmodel

@{
    ViewBag.Title = "Radera";
}

<h2>Är du säker på att du vill radera översättningen?</h2>
<div>
    <h4>Översättning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TranslationKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranslationKey)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SV_Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SV_Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EN_Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EN_Text)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-danger" /> |
            <a href="javascript:void(0);" onclick="history.go(-1);">Tillbaka</a>
        </div>
    }
</div>