@model Dictionary.Data.Models.Translation

@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer för @Html.DisplayFor(model => model.TranslationKey)</h2>

<div>
    <h4>Översättning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TranslationKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranslationKey)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentView)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.SV_Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SV_Text)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.EN_Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EN_Text)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till listan", "Index")
</p>
